.project-page {
  background: #f7ede6;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  padding-bottom: 80px;

  .bg {
    position: fixed;
    z-index: 1;
    bottom: 0;
    transform: rotate(90deg);
    filter: saturate(1.5);
  }

  &::after {
    position: fixed;
    z-index: 2;
    content: "";
    height: 100%;
    width: 100%;
    background-image: url("../../assets/noise1.png");
    background-size: 300px;
    mix-blend-mode: overlay;
    background-attachment: fixed;
    opacity: 0.7;
  }

  .project-container {
    position: relative;
    z-index: 5;
    padding-top: 80px;
    width: 90%;
    max-width: 660px;

    .content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .name-btn {
        .back {
          color: var(--text);
          opacity: 0.7;
          font-size: 16px;
          font-weight: 500;
          text-decoration: none;
        }

        img {
          height: 48px;
          width: auto;
        }
        .name {
          display: flex;
          justify-content: space-between;
          align-items: center;

          h1 {
            font-family: "Recoleta";
            color: var(--text);
            font-size: 48px;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -2px;
          }

          .btn {
            height: fit-content;

            &.hide {
              display: none;
            }
          }
        }
      }

      .tags {
        display: flex;
        gap: 10px;

        .tag {
          border-radius: 6px;
          border: 1px solid var(--text);
          padding: 4px 12px 4px 12px;
          color: var(--text);
          opacity: 0.7;
          font-size: 12px;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: 0.4px;
          text-transform: uppercase;
        }
      }

      p {
        opacity: 0.7;
        color: var(--text);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
      }

      .carousel-item {
        padding: 0 10px;
      }

      .slick-slide {
        cursor: grab;
        * {
          &:focus {
            outline: none;
          }
        }
        img {
          width: 100%;
          height: 100%;
          border-radius: 16px;
        }
      }

      .slick-arrow {
        display: none !important;
      }

      .slick-dots {
        bottom: 0px;
        background-color: rgba(0, 0, 0, 0.374);
        border-radius: 50px;
        backdrop-filter: blur(5px);
        align-items: center;
        width: fit-content;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex !important;
        padding: 5px 8px;
        li {
          margin: 0;
          &.slick-active {
            button {
              &::before {
                opacity: 1;
                color: white;
                font-size: 10px;
              }
            }
          }
          button {
            &::before {
              color: white;
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
