.infos {
  height: 100vh;
  width: 50%;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;

  .bg {
    position: absolute;
    z-index: 1;
    left: -42%;
    filter: saturate(1.5);
  }

  &::after {
    position: absolute;
    z-index: 2;
    content: "";
    height: 100%;
    width: 100%;
    background-image: url("../../assets/noise1.png");
    background-size: 300px;
    mix-blend-mode: overlay;
    opacity: 0.7;
  }

  .infos-container {
    padding: 5.5vw;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 22px;

    img {
      height: 100px;
      width: 100px;
      border-radius: 100px;
    }

    .profile {
      transform: scale(1.2);
    }

    .paragraph {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;

      h1 {
        font-family: "Recoleta";
        color: var(--text);
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.4px;
      }

      p {
        color: var(--text);
        opacity: 0.7;
        width: 400px;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
      }
    }

    .disp {
      display: flex;
      gap: 10px;
      align-items: center;

      .indicator {
        background-color: var(--green);
        height: 12px;
        width: 12px;
        border-radius: 20px;
      }

      span {
        color: var(--text);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
      }
    }

    .btns-container {
      display: flex;
      gap: 16px;
    }
  }

  @media screen and (max-width: 768px) {
    width: unset;
    height: unset;
    text-align: center;
    .infos-container {
      width: 100%;
      align-items: center;
      padding-top: 40px;
    }
  }

  //   @media screen and (max-width: 640px) {
  //     width: unset;
  //     height: unset;
  //   }
}
