.clear-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  .illustration {
    display: flex;
    align-items: center;
    gap: 24px;

    img {
      &:nth-child(1),
      &:nth-child(7) {
        width: 48px;
        height: 48px;
        opacity: 0.2;
      }

      &:nth-child(2),
      &:nth-child(6) {
        width: 56px;
        height: 56px;
        opacity: 0.4;
      }

      &:nth-child(3),
      &:nth-child(5) {
        width: 64px;
        height: 64px;
      }
    }

    .btn {
      width: 64px;
      height: 64px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
      border-radius: 8px;
      svg {
        width: 32px;
        height: 32px;
        opacity: 1;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    h2 {
      color: var(--text);
      font-size: 24px;
      font-weight: 600;
      line-height: 20px;
    }

    p {
      color: var(--gray);
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
    }
  }
}
