.projects-page {
  background: var(--gradientOverlay2);
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  padding-bottom: 80px;

  &::after {
    position: fixed;
    top: 0;
    z-index: -1;
    content: "";
    height: 100%;
    width: 100%;
    background-image: var(--gradientPattern);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -1.6px -1.6px, -1.6px -1.6px, -1px -1px, -1px -1px;
  }

  h1 {
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.4px;
    color: var(--text);
  }

  .search-container {
    transition: all 0.6s;
    padding-top: 80px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    display: flex;
    gap: 28px;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0px;

    &.sticky {
      top: -136px;
      background-color: var(--blur-bg);
      backdrop-filter: blur(10px);
      // margin-bottom: 0px;
      // gap: 0px;

      h1 {
        opacity: 0;
      }
    }
    .searchbar {
      max-width: 660px;
      display: flex;
      gap: 12px;
      position: sticky;
      top: 40px;
      width: 100%;

      input[type="text"] {
        display: flex;
        padding: 14px 14px 13px 11px;
        flex: 1 0 0;
        border: 1px solid var(--border);
        border-radius: 8px;
        background-color: var(--bg);
        color: var(--text);

        &:focus {
          outline: none;
        }
      }

      .submit {
        display: flex;
        width: 48px;
        height: 48px;
        padding: 12px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid var(--border);
        background: var(--gray-bg);
        cursor: pointer;

        svg {
          color: var(--text);
        }
      }
    }
  }

  .projects-container {
    width: 90%;
    max-width: 660px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    height: fit-content;

    .projects-list {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .project {
        display: flex;
        padding: 16px;
        background-color: var(--bg);
        border: 1px solid var(--border);
        border-radius: 10px;
        align-items: center;
        gap: 24px;

        .content {
          display: flex;
          align-items: center;
          gap: 24px;
          flex: 1 0 0;

          img {
            width: 64px;
            height: 64px;
            flex-shrink: 0;
          }

          .text {
            display: flex;
            flex-direction: column;
            gap: 3px;

            h3 {
              color: var(--text);
              font-size: 15px;
              font-weight: 700;
              line-height: 22.5px;
              letter-spacing: -0.4px;
            }

            p {
              color: var(--gray);
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 21px;
            }
          }
        }

        .btn {
          height: fit-content;
        }
      }
    }
  }
}
