@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans";
}

:root {
  --text: #09244b;
  --gray: #7d8084;
  --gray-bg: #f5f5f5;
  --border: #dedede;
  --bg: #ffffff;
  --btn-hover: #0b3570;
  --blur-bg: #f7ede650;

  --red: #ec184b;
  --green: #30e14c;

  --gradientPattern: linear-gradient(#f7f7f7 1.6px, transparent 1.6px),
    linear-gradient(90deg, #f7f7f7 1.6px, transparent 1.6px),
    linear-gradient(#f7f7f7 1px, transparent 1px), linear-gradient(90deg, #f7f7f7 1px, #ffffff 1px);

  --gradientOverlay: linear-gradient(270deg, #fff 0%, rgba(0, 255, 255, 0) 100%);
  --gradientOverlay2: linear-gradient(
    360deg,
    #f9f9fa 0%,
    #f9f9fa 27.73%,
    rgba(255, 255, 255, 0) 100%
  );
}

// @media (prefers-color-scheme: light) {
//   :root {
//     --text: #161616;
//     --gray: #7d8084;
//     --gray-bg: #f5f5f5;
//     --border: #dedede;
//     --bg: #ffffff;
//     --btn-hover: #ededed;
//     --blur-bg: #f7f7f750;

//     --red: #ec184b;
//     --green: #30e14c;

//     --gradientPattern: linear-gradient(#f7f7f7 1.6px, transparent 1.6px),
//       linear-gradient(90deg, #f7f7f7 1.6px, transparent 1.6px),
//       linear-gradient(#f7f7f7 1px, transparent 1px),
//       linear-gradient(90deg, #f7f7f7 1px, #ffffff 1px);

//     --gradientOverlay: linear-gradient(270deg, #fff 0%, rgba(0, 255, 255, 0) 100%);
//     --gradientOverlay2: linear-gradient(
//       360deg,
//       #f9f9fa 0%,
//       #f9f9fa 27.73%,
//       rgba(255, 255, 255, 0) 100%
//     );
//   }
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --text: white;
//     --gray: #7d8084;
//     --gray-bg: #161616;
//     --border: #282828;
//     --bg: #1c1c1c;
//     --btn-hover: #111010;
//     --blur-bg: #1c1c1c50;

//     --red: #ec184b;
//     --green: #30e14c;

//     --gradientPattern: linear-gradient(#131313 1.6px, transparent 1.6px),
//       linear-gradient(90deg, #131313 1.6px, transparent 1.6px),
//       linear-gradient(#131313 1px, transparent 1px), linear-gradient(90deg, #131313 1px, black 1px);

//     --gradientOverlay: linear-gradient(270deg, black 0%, rgba(0, 0, 0, 0) 100%);
//     --gradientOverlay2: linear-gradient(360deg, #161616 0%, #161616 27.73%, rgba(0, 0, 0, 0) 100%);
//   }
// }

body {
  background-color: var(--bg-white);
  height: 100vh;
  overflow: hidden;
}

.btn {
  display: flex;
  width: fit-content;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  color: var(--text);
  padding: 11px 19px;
  border-radius: 60px;
  cursor: pointer;
  align-items: center;
  gap: 8px;

  &-primary {
    background-color: var(--text);
    color: var(--bg);

    &:hover {
      background-color: var(--btn-hover);
    }
  }

  &-secondary {
    background-color: var(--bg);

    &:hover {
      background-color: var(--gray-bg);
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow: unset;
    height: unset;
  }
}
